
#main {
    margin: auto;
    background-color: gainsboro;
    border:2px;
    border-radius: 5px;
  
    align-content: center;
    padding: 10px 10px 10px 0;


}
#title  {
    text-align: center;
    font-size: 2em
}
#title2{
    text-align: center;
}
#img-div{
    margin :95px;
    display: grid;
}
